<p>kupac works!</p>
<button (click)="odjaviSe()">Odjavi se</button>
<table>
  <tr>
    <th>Naziv</th>
    <th>Opis</th>
    <th>Cena</th>
    <th>Izbor</th>
    <th>Količina</th>
    <th>detalji</th>
  </tr>
  @for(proizvod of proizvodi; track proizvod.naziv){
    <tr [class.green]="proizvod.promocija > 0">
      <td>{{proizvod.naziv}}</td>
      <td>{{proizvod.opis}}</td>
      <td>{{proizvod.cena}}</td>
      <td><input type="checkbox" [(ngModel)]="proizvod.izbor"></td>
      <td><input type="number" [(ngModel)]="proizvod.kolicina"></td>
      <td><button (click)="detalji(proizvod)">Detalji</button></td>
    </tr>
  }

</table>
<button (click)="naruci()">Naruci</button>
